
#tt{
  width: 90%;
  margin: 1% auto 0 ;
  background-color: white;
  padding:24px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.075);
}
#tt h1{
  font-size: 45px;
 
}
.f-grid {
  display: flex;
  margin-left: -1rem;
  flex-wrap: wrap;
}

.f-grid-col {
  width: 32%;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}


.f-grid-col:hover {
  box-shadow: 0 0 0.85rem rgba(0, 0, 0, 0.274);
}

.f-grid-col a img {
  width: 90%;
  height:200px;
  object-fit: cover;
  margin: 5%;
}

h5 {
  padding:  0 20px;
  text-align:justify;
}


a.cap1:link {
  color: red;
}

/* visited link */
a.cap1:visited {
  color: green;
}

/* mouse over link */
a.cap1:hover {
  color: pink;
}

/* selected link */
a.cap1:active {
  color: lightblue;
}

@media only screen and (max-width : 740px){
  #tt h1{
    color: rgb(247, 241, 239);
    font-size: 40px;
    background-color: rgb(196, 105, 215);
  }
  .f-grid-col {
    width: 80%;
    margin:  2% auto;
    padding: 1rem;
  }
}
    color: rgb(247, 241, 239);
    font-size: 40px;
    background-color: rgb(196, 105, 215);
  }
  .f-grid-col {
    width: 80%;
    margin:  2% auto;
    padding: 1rem;
  }
}
