tin-so-1.css
Người có quyền truy cập
H
Thuộc tính hệ thống
Loại
Biểu định kiểu
Kích thước
2 KB
Bộ nhớ đã dùng
2 KB
Vị trí
News
Chủ sở hữu
Hạnh Vũ
Lần sửa đổi gần đây nhất
22 thg 10, 2022 do Hạnh Vũ thực hiện
Đã mở
14:16 do tôi thực hiện
Người tạo
23 thg 10, 2022
Thêm mô tả
Người xem có thể tải xuống
h1 {
	text-align: center;
	font-size: 35px;
	border-bottom-style:solid;
}
div.danhmuc{
	box-sizing: border-box;
}
 .content1 {
	border-bottom-style:solid;
  padding-top: 6%;
  padding-left: 5%;
}
.news > p{
		margin: 25px 0px;
}
.news img{
  display: block;
  width: 50%;
  height: auto;
}
.source {
	text-align: right;
}
div#sidebar {
  float: right;
  padding:25px;	
  width: 250px;

}

div.content1 {  
  display: flex;
  flex-wrap: wrap auto;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.075);
}


/* Main column */
.main {
  margin-right :  100px;
  flex: 60%;

  background-color: white;
  padding: 20px;
  width: 60%;
}
.tinkhac {
	display: grid;}
.item {
	padding-top: 50px;

}
div.danhmuc ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: #f1f1f1;
}

div.danhmuc ul li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 20px;
}

div.danhmuc ul li a.titledanhmuc {
  background-color: green;
  color: white;
  font-size: 20px;
}

div.danhmuc ul li a:hover:not(.titledanhmuc) {
  background-color: #555;
  color: white;
}
div.item a{
	
	font-size: 25px;
}
div.item a:link {
  color: red;
}

/* visited link */
div.item a:visited {
  color: green;
}

/* mouse over link */
div.item a:hover {
  color: pink;
}

/* selected link */
div.item a:active {
  color: lightblue;}

  
div.item img {
	width: 100%;
}