.content{
    padding-top: 150px;
    width: 100%;
    margin-bottom: 36px;
 }
 .col1{
     width:75%; 
     margin-left: 12%;
     box-shadow: 0 0 5px 5px rgba(0,0,0,.075);
     padding:24px;
 }
 .page-header{
     /* position: absolute; */
     font-size: 14px;
     margin-bottom: 24px;
     display: inline-block;
 }
 .page-header i{
     font-size: 18px;
     padding: 4px;
     color: #0E7346;
 }
 .col1 h1{
     margin-bottom: 16px;
 }
 .col1 p{
     margin-bottom: 16px;
     font-size: 14px;
     line-height: 1.4;
 }
 .font-bolder
 {
     font-weight: bold;
 }
 .roww .col1_1{
     display: inline-block;
 }
 .roww h4{
     margin-bottom: 24px;
 }
 .col1_1 a{
     text-decoration: none;
     margin: 0px 12px;
     color: #000;
     font-weight: bold;
 }
 .col1_1:hover a{
     color: #000;
     opacity: 0.8;
 }
 .page-header1{
     padding: 8px;
 }
 @media (max-width: 719px)
{
    
    .content{
        padding-top:10px;
        overflow: auto;
    }
    .col1 p{
        font-size: 34px;
    }
    .page-header {
        font-size: 34px;
    }
    .col1 h2{
        font-size: 38px;
    }
    .roww h4{
        font-size: 34px;
    }
    .col1_1{
        font-size: 34px;
    }
}
@media (min-width:720px ) and (max-width:1000px)
{
    .col1 h2{
        font-size: 38px;
    }
    .roww h4{
        font-size: 34px;
    }
    .col1_1{
        font-size: 34px;
    }

    .content{
        overflow: auto;
        padding-top:10px;
    }
    .col1 p{
        font-size: 38px;
    }
}